<h2>Home page</h2>
<div class="jumbotron">
<div class="row">
  <div>
  	<p>
	We are in Home page
	<%=link_to "one month Rails", "www.google.com" %>
	</p>
  </div>
  <div ><%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-large"%></div>
</div>
<div class="footer">
	<small>Balu</small>
</div>
</div>